doctype html
html(lang="en")
    head
        include ../partials/head.pug
    body
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur in deserunt pariatur optio similique doloremque hic delectus tempore molestiae nam ullam harum, adipisci animi quo sapiente aliquam dolore temporibus dolorum.

    script(src="./js/app.min.js")