doctype html
html(lang="ru")
    head
        include ../partials/head.pug
    body
        include ../helpers/mixins.pug

        include ../partials/header.pug
        include ../partials/sidebar.pug

        include ../partials/footer.pug

        script(src="./js/app.min.js")