$primary:   #232323;
$secondary: #272727;
$white:     #e2e3e7;
$black:     #000000;
$grau:      #747474;
$orange:    #FF652F;
$yellow:    #FFE401;
$green:     #13A76B;
$blue:      #240090;  //#3137C9;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$sidebar-width: 250px;

$notebook-bp: 1366px;
$tablet-bp: 991px;
$mobile-bp: 575px;
