.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
/*
    &::before {
        content: '';
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        background-color: $secondary;
        background-image: url('../images/bg.jpg'), linear-gradient(#eb01a5, #d13531);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;

        @include breakpoint ($tablet-bp) {
            height: calc(var(--vh) + 100vh);
        }
    } */
}