.profile {
    width: 20rem;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile__icon {
    width: 20rem;
    height: 20rem;

    margin-top: 1rem;
    margin-bottom: 1.5rem;

    border: 2px solid $yellow;

    border-radius: 50%;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile__name {
    font-size: 2rem;
    font-weight: 500;

    margin-bottom: 1.5rem;
}

.line--yellow {
    width: 100%;
    height: 2px;

    background-color: $yellow;

    margin-bottom: 1.8rem;
}

.profile__description {
    font-weight: 400;
}