aside.sidebar
    .profile
        .profile__icon
            img(src="images/avatar.jpg", alt="")

        .profile__name
            h1 Никита Чёрный

        span.line--yellow

        .profile__description
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci consequuntur accusantium explicabo laudantium, sunt deserunt eos odio quas quaerat officia sequi earum facilis nihil ducimus quae inventore sed modi in?